server:
  port: 8085

spring:
  application:
    name: api-gateway

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://key:8090/realms/ctrlf

  cloud:
    gateway:
      routes:
        - id: chat-route
          uri: http://chat-service:9005
          predicates:
            - Path=/api/chat/**
          filters:
            - StripPrefix=2
        - id: education-route
          uri: http://education-service:9002
          predicates:
            - Path=/api/edu/**
          filters:
            - StripPrefix=2
        - id: infra-route
          uri: http://infra-service:9003
          predicates:
            - Path=/api/infra/**
          filters:
            - StripPrefix=2
        - id: quiz-route
          uri: http://quiz-service:9004
          predicates:
            - Path=/api/quiz/**
          filters:
            - StripPrefix=2

      globalcors:
        add-to-simple-url-handler-mapping: true
        corsConfigurations:
          "[/**]":
            allowedOrigins:
              - http://localhost:5173
              - http://localhost:3000
            allowedMethods: "*"
            allowedHeaders: "*"
            allowCredentials: true

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      probes:
        enabled: true
