server:
  port: 9002

spring:
  jpa:
    properties:
      hibernate:
        default_schema: education
        format_sql: true
    hibernate:
      ddl-auto: validate
  flyway:
    enabled: true
    schemas: education
    default-schema: education
    locations: classpath:db/migration
    validate-on-migrate: false
    out-of-order: true
    create-schemas: true
  profiles:
    active: dev
management:
  endpoints:
    web:
      base-path: /
      exposure:
        include: health
  endpoint:
    health:
      probes:
        enabled: true


# Feign 클라이언트 설정
spring.cloud.openfeign:
  client:
    config:
      video-ai-client:
        connect-timeout: 5000
        read-timeout: 30000
        logger-level: BASIC

# Feign 로깅 (DEBUG 레벨에서 활성화)
logging:
  level:
    com.ctrlf.education.client: DEBUG
