apiVersion: apps/v1
kind: Deployment
metadata:
  name: chat-service
  namespace: argocd
spec:
  replicas: 1
  selector:
    matchLabels:
      app: chat-service
  template:
    metadata:
      labels:
        app: chat-service
    spec:
      containers:
        - name: chat-service
          # 여기에 아까 성공한 ECR 이미지 주소를 정확히 넣으세요a
          image: 858507113889.dkr.ecr.ap-northeast-2.amazonaws.com/argocd/chat-service:b4c3930f47e8b08b4b8e576e484b1576d80db364
          ports:
            - containerPort: 9001 # Spring Boot 앱 포트
          imagePullPolicy: Always
